/**********************
    COLORS
**********************/
/**********************
    FONT PROPERTIES
**********************/
/********************
    UTILS
**********************/
/********************
    BREAKPOINTS
**********************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 1rem;
  font-family: "aileron", Arial, sans-serif;
  font-weight: 400;
}

.logo-font {
  font-family: "Great Vibes", cursive;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}
body h1::selection,
body h2::selection,
body h3::selection,
body h4::selection,
body p::selection {
  background: #fff0f0;
}

body::selection {
  background: #fff0f0;
}

*:focus {
  outline: 1px solid rgba(99, 56, 61, 0.7529411765);
}

/* utility classes */
@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
#nav__toggle {
  position: absolute;
  left: 2rem;
  cursor: pointer;
}
#nav__toggle i {
  color: #707070;
  font-size: 1.5rem;
}

.nav {
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  border-bottom: 1px solid #707070;
  background-color: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.nav__logo {
  text-decoration: none;
  color: rgb(43, 43, 43);
  font-family: "Great Vibes", cursive;
}
.nav__logo p {
  font-size: 2.3rem;
  font-family: inherit;
  position: relative;
  top: 5px;
}
.nav__logo p span {
  font-family: inherit;
  width: 100%;
  font-size: 0.8rem;
  position: absolute;
  bottom: -2px;
  left: 130px;
}
.nav__list {
  width: 100%;
  padding: 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 64px;
  background-color: rgb(43, 43, 43);
  padding: 2rem 0;
}
.nav__list ul {
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}
.nav__list__link {
  padding: 0.5rem 0;
  list-style: none;
}
.nav__list__link .link-active {
  position: relative;
}
.nav__list__link .link-active::before {
  content: "";
  position: absolute;
  background-color: #b97e8a;
  height: 1px;
  bottom: 0;
  right: 0;
  width: 100%;
}
.nav__list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}
.nav__list.show {
  display: flex;
}
.nav__socials {
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.nav__socials ul {
  padding: 0;
}
.nav__socials__link {
  list-style: none;
}
.nav__socials__link a {
  color: #b97e8a;
  transition: all 0.6s ease;
}
.nav__socials__link .socials-change-color {
  color: rgba(99, 56, 61, 0.7529411765);
  transition: all 0.6s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  z-index: 9;
  display: none;
}

.show {
  display: flex;
  animation-name: opacity-in;
  animation-duration: 0.3s;
}

.anim-to-left {
  position: relative;
}
.anim-to-left::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #b97e8a;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.anim-to-left:hover::before {
  visibility: visible;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #nav__toggle {
    display: none;
  }
  .nav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .nav__logo {
    display: flex;
    justify-content: center;
    width: 25%;
  }
  .nav__logo p {
    font-size: 1.8rem;
  }
  .nav__logo p span {
    font-family: inherit;
    width: 100%;
    font-size: 0.7rem;
    position: absolute;
    bottom: -2px;
    left: 105px;
  }
  .nav__list {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    background-color: transparent;
    margin-left: auto;
  }
  .nav__list ul {
    align-items: center;
  }
  .nav__list .nav__links {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  .nav__list .nav__links a {
    color: #707070;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .nav__list .nav__socials {
    width: 15%;
  }
  .nav__list .nav__socials a {
    font-size: 1.1rem;
  }
  .nav__list.show {
    display: none;
  }
  .nav .socials-change-color {
    color: #fff0f0;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .nav__logo {
    display: flex;
    justify-content: center;
    width: 30%;
  }
  .nav__logo p {
    font-size: 2.3rem;
    font-family: inherit;
    position: relative;
    top: 5px;
  }
  .nav__logo p span {
    font-family: inherit;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    bottom: -2px;
    left: 130px;
  }
  .nav__list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    background-color: transparent;
  }
  .nav__list ul {
    align-items: center;
  }
  .nav__list .nav__links {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  .nav__list .nav__links a {
    color: #707070;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .nav__list .nav__socials {
    width: 10%;
  }
  .nav__list .nav__socials a {
    font-size: 1.4rem;
  }
  .nav__list.show {
    display: none;
  }
  .nav .socials-change-color {
    color: #fff0f0;
  }
}
.main {
  position: relative;
  margin-top: 50px;
}
.main .header__about__image {
  height: 320px;
  object-fit: cover;
  position: absolute;
  left: -105px;
  top: 30px;
  overflow: hidden;
  z-index: -1;
}
.main .header__about {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.main .header__about__card {
  background-color: #f4f4f4;
  font-size: 0.9rem;
  line-height: 1.4rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.main .header__about__card:first-child {
  width: 60%;
  transform: translateX(55%);
  padding: 1.5rem 1.1rem;
  margin-top: 3rem;
  margin-bottom: 1.6rem;
}
.main .header__about__card:nth-child(2) {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.main .header__about__card p {
  color: #707070;
}
.main .header__about__cta {
  background-color: #b97e8a;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 40%;
  height: 3rem;
  text-decoration: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.main .header__about__testimonials {
  margin: 0 auto;
  padding: 2rem 1.5rem 1.5rem;
  background-color: #f4f4f4;
  width: 90%;
  font-size: 0.9rem;
  line-height: 1.4rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.main .header__about__testimonials p {
  color: #585858;
  font-size: 1.1rem;
}
.main .header__about__testimonials .testimonials-text {
  margin-bottom: 0.5rem;
  font-style: italic;
}
.main .header__about__testimonials .testimonials-name {
  text-align: end;
  font-weight: bold;
  padding-right: 1rem;
}
.main .header__about__awards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.8rem;
}
.main .header__about__awards-item {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  overflow: hidden;
}
.main .header__about__awards-item img {
  background-color: #fff;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .main .header__about__image {
    height: 450px;
    left: -140px;
    top: 30px;
    overflow: hidden;
    z-index: -1;
  }
  .main .header__about {
    row-gap: 0.8rem;
  }
  .main .header__about__card {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 1rem;
  }
  .main .header__about__card:first-child {
    width: 50%;
    transform: translateX(70%);
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 2.6rem;
  }
  .main .header__about__card:nth-child(2) {
    width: 70%;
    transform: translateX(10%);
    padding: 1.8rem 1.6rem;
    margin: 0 auto;
    margin-bottom: 2.6rem;
  }
  .main .header__about__cta {
    font-size: 1.6rem;
    border-radius: 10px;
    width: 30%;
    height: 4rem;
    margin-bottom: 2.6rem;
    transition: 0.3s background-color ease-in;
  }
  .main .header__about__cta:hover {
    background-color: #dd9fab;
  }
  .main .header__about__cta:focus {
    outline: 1px solid rgba(99, 56, 61, 0.7529411765);
  }
  .main .header__about__testimonials {
    margin: 0 auto;
    padding: 2rem;
    width: 70%;
    line-height: 1.8rem;
    margin-bottom: 2.6rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .main .header__about__testimonials p {
    color: #585858;
    font-size: 1.2rem;
  }
  .main .header__about__awards {
    margin-bottom: 2.2rem;
    width: 70%;
  }
  .main .header__about__awards-item {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .main {
    position: relative;
    margin-top: 80px;
    margin-bottom: 13rem;
    border-bottom: 1px solid #000;
  }
  .main .header__about__image {
    height: 1050px;
    left: -90px;
    bottom: 0;
    top: auto;
  }
  .main .header__about__card:first-child {
    width: 30%;
    transform: translateX(160%);
    padding: 1.5rem 1.1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .main .header__about__card:nth-child(2) {
    transform: translateX(160%);
    width: 30%;
    margin: 0;
    margin-bottom: 3rem;
  }
  .main .header__about__cta {
    transform: translateX(110%);
    font-size: 1.5rem;
    width: 12%;
    height: 4rem;
    margin-bottom: 3rem;
  }
  .main .header__about__testimonials {
    transform: translateX(160%);
    margin: 0;
    width: 30%;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2.6rem;
  }
  .main .header__about__testimonials p {
    font-size: 1.1rem;
  }
  .main .header__about__testimonials .testimonials-text {
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  .main .header__about__awards {
    width: 35%;
    transform: translateX(37%);
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 1950px) {
  .main .header__about__image {
    height: 1180px;
    left: -40px;
  }
  .main .header__about__card {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .main .header__about__card:first-child {
    transform: translateX(150%);
    padding: 2rem 3rem 2rem 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  .main .header__about__card:nth-child(2) {
    transform: translateX(150%);
    padding: 2rem 3rem 2rem 4rem;
    width: 30%;
    margin: 0;
    margin-bottom: 3rem;
  }
  .main .header__about__cta {
    transform: translateX(80%);
    font-size: 1.6rem;
    width: 12%;
    height: 4rem;
    margin-bottom: 3rem;
  }
  .main .header__about__testimonials {
    transform: translateX(150%);
    margin: 0;
    width: 30%;
    line-height: 1.5rem;
    margin-bottom: 2.6rem;
  }
  .main .header__about__testimonials p {
    font-size: 1.3rem;
  }
  .main .header__about__testimonials .testimonials-text {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    font-style: italic;
  }
  .main .header__about__awards {
    width: 35%;
    transform: translateX(28%);
    margin-bottom: 4rem;
  }
  .main .header__about__awards-item {
    width: 160px;
    height: 160px;
  }
}
.services {
  position: relative;
  overflow: hidden;
}
.services__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.services__cards-item {
  width: 80%;
  padding: 2rem;
  border-radius: 20px;
  color: #585858;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  text-decoration: none;
}
.services__cards-item img {
  border-radius: 6px;
  margin-bottom: 1rem;
  height: 70%;
  object-fit: cover;
}
.services__cards-item h2 {
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}
.services__cards-item p {
  color: #707070;
  font-size: 1rem;
  line-height: 1.5rem;
}
.services__cards-item:last-child {
  margin-bottom: 6rem;
}
.services__texture-text {
  position: absolute;
  width: 185%;
  bottom: 5px;
  left: -20px;
}
.services__texture-text p {
  font-size: 5rem;
  color: #b97e8a;
  font-family: "Great Vibes", cursive;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .services {
    overflow-x: hidden;
  }
  .services__cards {
    width: 60%;
    margin: 0 auto;
    row-gap: 3rem;
  }
  .services__cards-item:last-child {
    margin-bottom: 15rem;
  }
  .services__cards-item img {
    margin: 0 auto;
    margin-bottom: 0.7rem;
  }
  .services__texture-text {
    position: absolute;
    width: 185%;
    bottom: -10px;
    left: -30px;
    z-index: -1;
  }
  .services__texture-text p {
    font-size: 20vw;
    font-family: "Great Vibes", cursive;
  }
}
@media screen and (min-width: 1440px) {
  .services {
    position: relative;
    overflow: visible;
    margin-bottom: 5rem;
  }
  .services__cards {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    row-gap: 2rem;
  }
  .services__cards-item {
    width: 30%;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .services__cards-item img {
    margin-bottom: 0.5rem;
    height: 60%;
  }
  .services__cards-item h2 {
    color: #585858;
    margin-bottom: 0.6rem;
  }
  .services__cards-item p {
    color: #707070;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .services__cards-item:last-child {
    margin-bottom: 0;
  }
  .services__texture-text {
    position: absolute;
    width: 100%;
    top: -250px;
    left: 0;
    overflow: hidden;
  }
  .services__texture-text p {
    width: 200%;
    font-size: 17vw;
    letter-spacing: 10px;
    font-family: "Great Vibes", cursive;
    opacity: 0.7;
  }
}
@media screen and (min-width: 1950px) {
  .services__texture-text p {
    position: absolute;
    top: -50px;
    left: -60px;
    font-size: 18vw;
  }
  .services__cards {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    margin-top: 15rem;
  }
  .services__cards-item {
    width: 30%;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .services__cards-item img {
    border-radius: 6px;
    margin-bottom: 1rem;
  }
  .services__cards-item h2 {
    color: #585858;
    margin-bottom: 0.6rem;
  }
  .services__cards-item p {
    color: #707070;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .services__cards-item:last-child {
    margin-bottom: 0;
  }
}
.contact__header {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.contact__header h1 {
  font-family: "Great Vibes", cursive;
  letter-spacing: 1rem;
  font-size: 2rem;
  color: #b97e8a;
  position: relative;
  margin-bottom: 0.4rem;
  opacity: 1;
}
.contact__header h1::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 8px;
  height: 2px;
  width: 120%;
  background-color: #b97e8a;
  z-index: -1;
}

.contact-form {
  margin-bottom: 2.6rem;
}
.contact-form .contact-form__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: #707070;
  border-radius: 20px;
  border: none;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.contact-form .contact-form__container .contact-form__main-wrapper {
  display: flex;
  flex-direction: column;
}
.contact-form .contact-form__container .contact-form__main-wrapper .contact-form__item:nth-child(2) {
  order: -1;
}
.contact-form .contact-form__description {
  padding: 1rem 0.4rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.contact-form .contact-form__description li {
  color: #585858;
}
.contact-form .contact-form__description li a {
  font-weight: bold;
  color: inherit;
}
.contact-form .contact-form__inputs .form__group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.contact-form .contact-form__inputs .form__group label {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
}
.contact-form .contact-form__inputs .form__group input {
  font-size: 0.8rem;
  height: 2rem;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
  color: #707070;
  letter-spacing: 1px;
}
.contact-form .contact-form__inputs .form__group input:focus {
  outline: 1px solid #dd9fab;
}
.contact-form .form__group--message {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-form .form__group--message label {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.1rem;
}
.contact-form .form__group--message textarea {
  width: 100%;
  height: 10rem;
  font-size: 0.8rem;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  color: #707070;
  resize: vertical;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}
.contact-form .form__group--message textarea:focus {
  outline: 1px solid #dd9fab;
}
.contact-form input[type=submit] {
  background-color: #b97e8a;
  border: none;
  padding: 0.6rem 0;
  border-radius: 4px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s background-color ease-in;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .contact-form input[type=submit] {
    font-size: 1.6rem;
  }
  .contact-form input[type=submit]:hover {
    background-color: #dd9fab;
  }
  .contact-form input[type=submit]:focus {
    outline: 1px solid rgba(99, 56, 61, 0.7529411765);
  }
}
@media screen and (min-width: 1440px) {
  .contact__header {
    width: 70%;
  }
  .contact-form .contact-form__container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 1rem;
    color: #707070;
    border-radius: 20px;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  .contact-form .contact-form__container .contact-form__main-wrapper {
    display: flex;
    flex-direction: row;
  }
  .contact-form .contact-form__container .contact-form__main-wrapper .contact-form__item:first-child {
    width: 40%;
    padding-left: 4rem;
  }
  .contact-form .contact-form__container .contact-form__main-wrapper .contact-form__item:nth-child(2) {
    order: 0;
    width: 40%;
    margin: 0 auto;
  }
  .contact-form .contact-form__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .contact-form .contact-form__description ul {
    padding-left: 1.5rem;
  }
  .contact-form .contact-form__description li {
    color: #585858;
  }
  .contact-form .contact-form__inputs .form__group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .contact-form .contact-form__inputs .form__group label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
  }
  .contact-form .contact-form__inputs .form__group input {
    font-size: 0.8rem;
    height: 2rem;
    padding-left: 10px;
    border: none;
    border-radius: 4px;
    color: #707070;
  }
  .contact-form .contact-form__inputs .form__group input:focus {
    outline: 1px solid #dd9fab;
  }
  .contact-form .form__group--message {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 4rem;
  }
  .contact-form .form__group--message label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
  }
  .contact-form .form__group--message textarea {
    width: 100%;
    height: 10rem;
    font-size: 0.8rem;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    color: #707070;
    resize: vertical;
    margin-bottom: 1.6rem;
  }
  .contact-form .form__group--message textarea:focus {
    outline: 1px solid #dd9fab;
  }
  .contact-form input[type=submit] {
    width: 12%;
    padding: 0.4rem 0;
    margin-left: 4rem;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1950px) {
  .contact__header {
    width: 50%;
  }
  .contact-form {
    margin-bottom: 3rem;
    /* Fix for contact form in the index.html, it needs bigger size to match the design. */
  }
  .contact-form .contact-form__container {
    width: 50%;
    padding: 2rem 0 3.5rem 1rem;
  }
  .contact-form .contact-form__container .contact-form__main-wrapper .contact-form__item:first-child {
    width: 45%;
    padding-left: 2rem;
  }
  .contact-form .contact-form__container .contact-form__main-wrapper .contact-form__item:nth-child(2) {
    width: 40%;
    margin-left: 5rem;
  }
  .contact-form .contact-form__container.main {
    width: 70%;
  }
  .contact-form .contact-form__description {
    font-size: 1.1rem;
    padding-top: 5rem;
  }
  .contact-form .contact-form__description ul {
    padding-left: 1.8rem;
  }
  .contact-form .contact-form__inputs {
    padding-top: 2rem;
  }
  .contact-form .contact-form__inputs .form__group {
    padding-left: 2rem;
  }
  .contact-form .contact-form__inputs .form__group label {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.2rem;
  }
  .contact-form .contact-form__inputs .form__group input {
    font-size: 1rem;
    height: 2.4rem;
    padding-left: 12px;
  }
  .contact-form .contact-form__inputs .form__group:last-child {
    margin-bottom: 0.6rem;
  }
  .contact-form .form__group--message {
    width: 50%;
    padding-left: 4rem;
  }
  .contact-form .form__group--message label {
    font-size: 0.8rem;
    padding-bottom: 0.1rem;
  }
  .contact-form .form__group--message textarea {
    font-size: 1rem;
    padding: 12px 12px;
    margin-bottom: 1.8rem;
  }
  .contact-form input[type=submit] {
    width: 13%;
    padding: 0.5rem 0;
    margin-left: 4rem;
    font-size: 1.6rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #707070;
  padding-top: 0.8rem;
}
.footer .footer-logo {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}
.footer__contacts {
  display: flex;
  align-items: center;
  height: 1rem;
  margin-bottom: 0.8rem;
}
.footer__contacts-email {
  font-size: 1.1rem;
  color: rgba(99, 56, 61, 0.7529411765);
  text-decoration: none;
}
.footer__contacts-divider {
  height: 100%;
  width: 1px;
  background-color: rgb(43, 43, 43);
  margin: 0 0.6rem;
}
.footer__contacts-mobile {
  font-size: 1.1rem;
  color: rgba(99, 56, 61, 0.7529411765);
  text-decoration: none;
}

@media screen and (min-width: 1440px) {
  .footer .footer-logo {
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
  }
  .footer__contacts {
    margin-bottom: 1rem;
  }
  .footer__contacts-email {
    font-size: 1.3rem;
  }
  .footer__contacts-divider {
    margin: 0 0.8rem;
  }
  .footer__contacts-mobile {
    font-size: 1.3rem;
  }
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
  margin: 0 auto 3rem;
}

table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}

table tr th {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  color: #707070;
  padding: 1rem 0;
  border-top: solid 1px #bbb;
}

table tr th.clear-border {
  border-top: none;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.rates__header {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.rates__header h1 {
  font-family: "Great Vibes", cursive;
  letter-spacing: 1rem;
  font-size: 2rem;
  color: #b97e8a;
  position: relative;
  margin-bottom: 0.4rem;
  opacity: 1;
}
.rates__header h1::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 8px;
  height: 2px;
  width: 120%;
  background-color: #b97e8a;
  z-index: -1;
}

/* table styles */
table tr td.f-1 {
  font-size: 0.8rem;
  padding: 0.5rem;
}

td {
  position: relative;
}
td:nth-child(2) {
  padding: 0;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
}

td h3 {
  color: #585858;
  font-size: 1.2rem;
  font-style: italic;
  padding: 1rem;
}

td p {
  color: #707070;
  padding: 1.4rem;
}
td p:last-child {
  padding-bottom: 2rem;
}

.rates-desc {
  color: #707070;
  border-bottom: 1px solid #dd9fab;
  border-top: 1px solid #dd9fab;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.travel__info {
  color: #585858;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
}

/* Utility classes */
.r-border-remove {
  border-right: none;
}

.divider-pink {
  border-right: none;
  background-color: #fff0f0;
}

.divider-grey {
  background-color: #f4f4f4;
}

.rates-asterisk {
  display: flex;
  flex-direction: column;
}
.rates-asterisk small {
  padding: 0.1rem;
}

.to-top {
  position: absolute;
  top: 2px;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.text-sm {
  font-size: 0.9rem;
}

@media screen and (min-width: 1440px) {
  .rates__header {
    width: 40%;
  }
  table {
    width: 40%;
    margin: 0 auto 4rem;
  }
  table tr td.f-1 {
    font-size: 1rem;
    color: #585858;
    padding: 0.5rem 2rem;
  }
  td {
    position: relative;
  }
  td:nth-child(2) {
    font-size: 1.1rem;
  }
  td h3 {
    font-size: 1.2rem;
    padding: 1rem;
  }
  td p {
    padding: 1.4rem;
  }
  .rates-desc {
    padding: 1rem 0;
    width: 40%;
    margin-bottom: 5rem;
  }
  /* Utility classes */
  .w-mid {
    width: 4rem;
  }
}
@media screen and (min-width: 1950px) {
  .rates__header {
    width: 30%;
  }
  table {
    width: 30%;
    margin: 0 auto 4rem;
  }
  table tr td.f-1 {
    font-size: 1.1rem;
    padding: 0.5rem 0 0.5rem 0.4rem;
  }
  td:nth-child(2) {
    font-size: 1.1rem;
  }
  td h3 {
    font-size: 1.6rem;
  }
  td p {
    padding: 1.8rem;
  }
  .rates-desc {
    padding: 2rem 0;
    width: 30%;
  }
}
.terms-conds {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem 1rem 2rem 0;
  border: 1px solid #f4f4f4;
  border-radius: 15px;
  color: #585858;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.terms-conds h2 {
  text-align: center;
  color: #585858;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.terms-conds h3 {
  text-align: center;
  color: #707070;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 80%;
  margin: 0 auto;
}
.terms-conds small {
  display: block;
  text-align: center;
  font-size: 0.7rem;
  color: #707070;
  font-style: italic;
  margin-bottom: 1.5rem;
}
.terms-conds ol {
  margin-bottom: 1rem;
  padding-left: 2.2rem;
  line-height: 1.4rem;
}

@media screen and (min-width: 1440px) {
  .terms-conds {
    width: 70%;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    font-size: 1rem;
  }
  .terms-conds div {
    width: 90%;
    margin: 0 auto;
  }
  .terms-conds h2 {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
  }
  .terms-conds h3 {
    letter-spacing: 2px;
    width: 100%;
    margin: 3rem 0 1rem;
  }
  .terms-conds small {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .terms-conds ol {
    margin-bottom: 1rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1950px) {
  .terms-conds {
    width: 50%;
    margin-bottom: 4rem;
    font-size: 1.1rem;
  }
}
/* Utility classes */
.remove-list-style {
  list-style: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pinky {
  color: rgba(99, 56, 61, 0.7529411765);
}

.bold {
  font-weight: bold;
}

.social-links-reset {
  line-height: 0.5rem;
}

.services-page {
  margin-bottom: 2rem;
}

.learn-more {
  text-align: center;
  font-style: italic;
  font-size: 0.7rem;
  color: #707070;
  margin-bottom: 0.2rem;
}

.services__header {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.services__header h1 {
  font-family: "Great Vibes", cursive;
  letter-spacing: 1rem;
  font-size: 2rem;
  color: #b97e8a;
  position: relative;
  margin-bottom: 0.4rem;
  opacity: 1;
}
.services__header h1::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 8px;
  height: 2px;
  width: 120%;
  background-color: #b97e8a;
  z-index: -1;
}

.services__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  margin: 0 auto;
}

.services-link {
  text-decoration: none;
  padding: 2rem;
  width: 80%;
  border-radius: 20px;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.services-link__item img {
  border-radius: 6px;
  margin-bottom: 1rem;
}
.services-link__item h2 {
  color: #585858;
  font-size: 1.1rem;
  margin-bottom: 0.6rem;
}
.services-link__item p {
  color: #707070;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .services-page {
    margin-top: 1rem;
  }
  .learn-more {
    font-size: 0.7rem;
  }
  .services__header {
    width: 75%;
  }
  .services__header h1 {
    letter-spacing: 0.7rem;
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }
  .services__container {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
    row-gap: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .services-link {
    width: 30%;
    padding: 1.2rem;
  }
  .services-link__item h2 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  .services-link__item p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .services__header {
    width: 60%;
  }
  .services-page {
    margin-top: 2rem;
  }
  .learn-more {
    font-size: 0.7rem;
  }
  .services__container {
    justify-content: space-between;
    width: 60%;
  }
  .services__header h1 {
    letter-spacing: 1rem;
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  .services-link {
    width: 30%;
    padding: 1.2rem;
  }
  .services-link__item img {
    border-radius: 6px;
    margin-bottom: 1rem;
  }
  .services-link__item h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }
  .services-link__item p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 1950px) {
  .page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .services__header {
    width: 60%;
  }
  .services__container {
    justify-content: space-between;
    width: 60%;
  }
  .services-link {
    width: 30%;
    padding: 1.2rem;
  }
  .services-page {
    margin-top: 5rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .learn-more {
    font-size: 0.7rem;
  }
  .services-link__item img {
    margin-bottom: 0.5rem;
  }
  .services-link__item h2 {
    margin-bottom: 0.4rem;
  }
  .services-link__item p {
    line-height: 1.4rem;
  }
}
.bridal {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
}
.bridal h2 {
  color: rgb(43, 43, 43);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.bridal p {
  color: #585858;
  font-size: 0.9rem;
}
.bridal img {
  height: 80%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.bridal .divider {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #707070;
}
.bridal .divider:last-child {
  margin-bottom: 2.5rem;
}

.bridal-option {
  margin-bottom: 2rem;
}
.bridal-option small {
  display: block;
  margin-bottom: 0.7rem;
  text-align: center;
  color: #707070;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .bridal {
    width: 80%;
    margin-top: 6rem;
  }
  .bridal h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .bridal p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .bridal img {
    width: 49%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .bridal-option .option-images {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .bridal {
    width: 60%;
    margin-top: 7rem;
  }
  .bridal h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .bridal p {
    font-size: 1rem;
  }
  .bridal img {
    width: 42%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .bridal .divider {
    margin-bottom: 3rem;
  }
  .bridal .divider:last-child {
    margin-bottom: 4rem;
  }
  .bridal-option {
    margin-bottom: 2rem;
  }
  .bridal-option .option-images {
    display: flex;
    justify-content: space-around;
  }
  .bridal-option small {
    display: block;
    margin-bottom: 0.7rem;
    text-align: center;
    color: #707070;
    font-style: italic;
  }
  .bridal-contact {
    width: 88%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1950px) {
  .bridal {
    width: 45%;
    margin-top: 7rem;
  }
  .bridal h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .bridal p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .bridal img {
    width: 42%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .bridal .divider {
    margin-bottom: 3.5rem;
  }
  .bridal .divider:last-child {
    margin-bottom: 5rem;
  }
  .bridal-option {
    margin-bottom: 2rem;
  }
  .bridal-option small {
    margin-bottom: 1.2rem;
  }
  .bridal-contact {
    width: 92%;
    margin: 0 auto;
  }
}
/* Utility Classes */
.mb-1 {
  margin-bottom: 1rem;
}

.other {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
}
.other h2 {
  color: rgb(43, 43, 43);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.other p {
  color: #585858;
  font-size: 0.9rem;
}
.other img {
  height: 80%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.other .divider {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #707070;
}
.other .divider:last-child {
  margin-bottom: 2.5rem;
}

.other-option {
  margin-bottom: 2rem;
}
.other-option small {
  display: block;
  margin-bottom: 0.7rem;
  text-align: center;
  color: #707070;
  font-style: italic;
}
.other-option .mb-reset {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .other {
    width: 80%;
    margin-top: 6rem;
  }
  .other h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .other p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .other img {
    width: 49%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .other-option .option-images {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .other {
    width: 60%;
    margin-top: 7rem;
  }
  .other h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .other p {
    font-size: 1rem;
  }
  .other img {
    width: 42%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .other .divider {
    margin-bottom: 3rem;
  }
  .other .divider:last-child {
    margin-bottom: 4rem;
  }
  .other-option {
    margin-bottom: 2rem;
  }
  .other-option .option-images {
    display: flex;
    justify-content: space-around;
  }
  .other-option small {
    display: block;
    margin-bottom: 0.7rem;
    text-align: center;
    color: #707070;
    font-style: italic;
  }
  .other-contact {
    width: 88%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1950px) {
  .other {
    width: 45%;
    margin-top: 7rem;
  }
  .other h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .other p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .other img {
    width: 42%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .other .divider {
    margin-bottom: 3.5rem;
  }
  .other .divider:last-child {
    margin-bottom: 5rem;
  }
  .other-option {
    margin-bottom: 2rem;
  }
  .other-option small {
    margin-bottom: 1.2rem;
  }
  .other-option .mb-reset {
    margin-bottom: 1.5rem;
  }
  .other-contact {
    width: 92%;
    margin: 0 auto;
  }
}
/* Utility Classes */
.mb-1 {
  margin-bottom: 1rem;
}

.lessons {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
}
.lessons h2 {
  color: rgb(43, 43, 43);
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.lessons p {
  color: #585858;
  font-size: 0.9rem;
}
.lessons img {
  height: 80%;
  object-fit: cover;
  margin-bottom: 1rem;
}
.lessons .divider {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #707070;
}
.lessons .divider:last-child {
  margin-bottom: 2.5rem;
}

.lessons-option {
  margin-bottom: 2rem;
}
.lessons-option small {
  display: block;
  margin-bottom: 0.7rem;
  text-align: center;
  color: #707070;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .lessons {
    width: 80%;
    margin-top: 6rem;
  }
  .lessons h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .lessons p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .lessons img {
    width: 49%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .lessons-option .option-images {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .lessons {
    width: 60%;
    margin-top: 7rem;
  }
  .lessons h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .lessons p {
    font-size: 1rem;
  }
  .lessons img {
    width: 42%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .lessons .divider {
    margin-bottom: 3rem;
  }
  .lessons .divider:last-child {
    margin-bottom: 4rem;
  }
  .lessons-option {
    margin-bottom: 2rem;
  }
  .lessons-option .option-images {
    display: flex;
    justify-content: space-around;
  }
  .lessons-option small {
    display: block;
    margin-bottom: 0.7rem;
    text-align: center;
    color: #707070;
    font-style: italic;
  }
  .lessons-contact {
    width: 88%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1950px) {
  .lessons {
    width: 45%;
    margin-top: 7rem;
  }
  .lessons h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .lessons p {
    font-size: 1.1rem;
    margin-bottom: 3rem;
  }
  .lessons img {
    width: 42%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .lessons .divider {
    margin-bottom: 3.5rem;
  }
  .lessons .divider:last-child {
    margin-bottom: 5rem;
  }
  .lessons-option {
    margin-bottom: 2rem;
  }
  .lessons-option small {
    margin-bottom: 1.2rem;
  }
  .lessons-contact {
    width: 92%;
    margin: 0 auto;
  }
}
/* Utility Classes */
.mb-1 {
  margin-bottom: 1rem;
}

.portfolio__header {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
}
.portfolio__header h1 {
  font-family: "Great Vibes", cursive;
  letter-spacing: 1rem;
  font-size: 2rem;
  color: #b97e8a;
  position: relative;
  margin-bottom: 0.4rem;
  opacity: 1;
}
.portfolio__header h1::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 8px;
  height: 2px;
  width: 120%;
  background-color: #b97e8a;
  z-index: -1;
}

.portfolio-gallery {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.portfolio-gallery::after {
  content: "";
  flex-grow: 999;
}
.portfolio-gallery .img-group {
  flex-grow: 1;
  height: 300px;
  position: relative;
}
.portfolio-gallery .img-group:last-child {
  margin-bottom: 2rem;
}
.portfolio-gallery .img-group img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}
.portfolio-gallery .img-group .y-offset {
  object-position: 50% 0%;
}

/* Gallery image overlay on hover */
@media screen and (min-width: 768px) {
  .img-group > a {
    cursor: pointer;
    /* image overlay on hover */
  }
  .img-group > a:hover .overlay {
    height: 100%;
    opacity: 1;
  }
  .img-group .overlay {
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    background: rgba(41, 41, 41, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.form-submitted__wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-submitted__wrapper h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
  color: rgb(43, 43, 43);
}
.form-submitted__wrapper h2 {
  font-size: 1rem;
  color: #585858;
  font-style: italic;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #b97e8a;
}
.form-submitted__wrapper p {
  font-size: 0.9rem;
  width: 80%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-submitted__wrapper a {
  text-decoration: none;
}
.form-submitted__wrapper .btn-custom {
  cursor: pointer;
  background-color: #b97e8a;
  color: #fff;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  height: 2.8rem;
  width: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .form-submitted__wrapper h1 {
    font-size: 4.5rem;
  }
  .form-submitted__wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .form-submitted__wrapper .btn-custom {
    font-size: 1.3rem;
    height: 2.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .form-submitted__wrapper h1 {
    font-size: 4rem;
  }
  .form-submitted__wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .form-submitted__wrapper p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .form-submitted__wrapper .btn-custom {
    font-size: 1.4rem;
    height: 2.9rem;
    width: 180px;
  }
}
@media screen and (min-width: 1950px) {
  .form-submitted__wrapper h1 {
    font-size: 6rem;
  }
  .form-submitted__wrapper h2 {
    font-size: 1.6rem;
  }
  .form-submitted__wrapper p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .form-submitted__wrapper .btn-custom {
    font-size: 1.7rem;
    width: 210px;
    height: 3.5rem;
  }
}
.error-page__wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-page__wrapper h1 {
  font-family: "Great Vibes", cursive;
  font-size: 5rem;
  color: rgb(43, 43, 43);
  margin: 0;
  padding: 0;
}
.error-page__wrapper h2 {
  font-size: 1rem;
  color: #585858;
  font-style: italic;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #b97e8a;
}
.error-page__wrapper p {
  font-size: 0.9rem;
  width: 80%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.error-page__wrapper a {
  text-decoration: none;
}
.error-page__wrapper .btn-errorpage {
  cursor: pointer;
  background-color: #b97e8a;
  color: #fff;
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  height: 2.8rem;
  width: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .error-page__wrapper h1 {
    font-size: 4.5rem;
  }
  .error-page__wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .error-page__wrapper .btn-errorpage {
    font-size: 1.3rem;
    height: 2.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .error-page__wrapper h1 {
    font-size: 4rem;
  }
  .error-page__wrapper h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .error-page__wrapper p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .error-page__wrapper .btn-errorpage {
    font-size: 1.4rem;
    height: 2.9rem;
    width: 180px;
  }
}
@media screen and (min-width: 1950px) {
  .error-page__wrapper h1 {
    font-size: 6rem;
  }
  .error-page__wrapper h2 {
    font-size: 1.6rem;
  }
  .error-page__wrapper p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .error-page__wrapper .btn-errorpage {
    font-size: 1.7rem;
    height: 3.5rem;
    width: 210px;
  }
}

/*# sourceMappingURL=style.css.map */
