@use '../abstracts/variables' as *;

.contact-header {
  width: 70%;
  margin: 0 auto;
  margin-top: 8rem;
  display: flex;
  justify-content: end;
  padding-right: 2rem;
  padding-bottom: 1rem;

  h1 {
    font-family: $logo-font;
    letter-spacing: 1rem;
    font-size: 3rem;
    color: $of-pink;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 8px;
      height: 2px;
      width: 120%;
      background-color: $of-grey;
    }
  }
}

.contact-form {
  margin-bottom: 2.6rem;

  .contact-form__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: $primary-grey;
    border-radius: 20px;
    background-color: $of-grey;
    box-shadow: $card-shadow;

    .contact-form__main-wrapper {
      display: flex;
      flex-direction: column;

      .contact-form__item:nth-child(2) {
        order: -1;
      }
    }
  }

  .contact-form__description {
    padding: 1rem 0.4rem;
    font-size: 0.9rem;
    margin-bottom: 1rem;

    li {
      color: $text-grey;
    }
  }

  .contact-form__inputs {
    .form__group {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;

      label {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.1rem;
      }

      input {
        font-size: 0.8rem;
        height: 2rem;
        padding-left: 10px;
        border: none;
        border-radius: 4px;
        color: $primary-grey;

        &:focus {
          outline: 1px solid $light-pink;
        }
      }
    }
  }

  // styles for text area, named: your-message
  .form__group--message {
    width: 100%;
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
      margin-bottom: 0.1rem;
    }

    textarea {
      width: 100%;
      height: 10rem;
      font-size: 0.8rem;
      padding: 6px 10px;
      border-radius: 4px;
      border: none;
      color: $primary-grey;
      resize: vertical;

      &:focus {
        outline: 1px solid $light-pink;
      }

      margin-bottom: 1.6rem;
    }
  }

  input[type='submit'] {
    background-color: $primary-color;
    border: none;
    padding: 0.6rem 0;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s background-color ease-in;
    letter-spacing: 3px;

    &:hover {
      background-color: $light-pink;
    }

    &:focus {
      outline: 1px solid $dark-pink;
    }
  }
}

@media screen and (min-width: $desktop) {
  .contact-form {
    .contact-form__container {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      padding: 3rem 1rem;
      color: $primary-grey;
      border-radius: 20px;
      background-color: $of-grey;
      box-shadow: $card-shadow;

      .contact-form__main-wrapper {
        display: flex;
        flex-direction: row;

        .contact-form__item:first-child {
          width: 40%;
          padding-left: 4rem;
        }
        .contact-form__item:nth-child(2) {
          order: 0;
          width: 40%;
          margin: 0 auto;
        }
      }
    }

    .contact-form__description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1rem;
      margin-bottom: 1rem;

      ul {
        padding-left: 1.5rem;
      }

      li {
        color: $text-grey;
      }
    }

    .contact-form__inputs {
      .form__group {
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        label {
          font-size: 0.7rem;
          letter-spacing: 0.1rem;
          margin-bottom: 0.1rem;
        }

        input {
          font-size: 0.8rem;
          height: 2rem;
          padding-left: 10px;
          border: none;
          border-radius: 4px;
          color: $primary-grey;

          &:focus {
            outline: 1px solid $light-pink;
          }
        }
      }
    }

    // styles for text area, named: your-message
    .form__group--message {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: 4rem;

      label {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        margin-bottom: 0.1rem;
      }

      textarea {
        width: 100%;
        height: 10rem;
        font-size: 0.8rem;
        padding: 6px 10px;
        border-radius: 4px;
        border: none;
        color: $primary-grey;
        resize: vertical;

        &:focus {
          outline: 1px solid $light-pink;
        }

        margin-bottom: 1.6rem;
      }
    }

    input[type='submit'] {
      width: 12%;
      background-color: $primary-color;
      border: none;
      padding: 0.4rem 0;
      margin-left: 4rem;
      border-radius: 4px;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.3s background-color ease-in;

      &:hover {
        background-color: $light-pink;
      }

      &:focus {
        outline: 1px solid $dark-pink;
      }
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .contact-form {
    .contact-form__container {
      padding: 2rem 0 3.5rem 1rem;
      .contact-form__main-wrapper {
        .contact-form__item:first-child {
          width: 45%;
          padding-left: 4rem;
        }
        .contact-form__item:nth-child(2) {
          width: 40%;
        }
      }
    }

    .contact-form__description {
      font-size: 1.1rem;
      padding-top: 8rem;
      padding-left: 4rem;

      ul {
        padding-left: 1.8rem;
      }
    }

    .contact-form__inputs {
      padding-top: 2rem;
      .form__group {
        padding-left: 2rem;

        label {
          font-size: 0.8rem;
          letter-spacing: 0.1rem;
          margin-bottom: 0.2rem;
        }

        input {
          font-size: 1rem;
          height: 2.4rem;
          padding-left: 12px;
        }

        &:last-child {
          margin-bottom: 0.6rem;
        }
      }
    }

    // styles for text area, named: your-message
    .form__group--message {
      width: 45%;
      padding-left: 6rem;

      label {
        font-size: 0.8rem;
        padding-bottom: 0.1rem;
      }

      textarea {
        font-size: 1rem;
        padding: 12px 12px;
        margin-bottom: 1.8rem;
      }
    }

    input[type='submit'] {
      width: 13%;
      padding: 0.5rem 0;
      margin-left: 6rem;
      font-size: 1.4rem;
    }
  }
}
