@use '../abstracts/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $primary-grey;
  padding-top: 0.8rem;

  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(68vw, 18rem);
    margin-bottom: 1rem;
    text-decoration: none;

    &__image {
      display: block;
      width: 100%;
      max-height: 4.2rem;
      object-fit: contain;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    height: 1rem;
    margin-bottom: 0.8rem;

    a {
      color: $primary-grey;
    }

    &-email {
      font-size: 1.1rem;
      color: $primary-grey;
      text-decoration: none;
    }

    &-divider {
      height: 100%;
      width: 1px;
      background-color: $primary-black;
      margin: 0 0.6rem;
    }

    &-mobile {
      font-size: 1.1rem;
      color: $primary-grey;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: $desktop) {
  .footer {
    .footer-logo {
      width: min(30vw, 23rem);
      margin-bottom: 1.2rem;

      &__image {
        max-height: 5.1rem;
      }
    }

    &__contacts {
      margin-bottom: 1rem;

      &-email {
        font-size: 1.3rem;
      }

      &-divider {
        margin: 0 0.8rem;
      }

      &-mobile {
        font-size: 1.3rem;
      }
    }
  }
}
