@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;

.services {
  position: relative;
  overflow: hidden;
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

    &-item {
      width: 80%;
      padding: 2rem;
      border-radius: 20px;
      color: $text-grey;
      background-color: $of-grey;
      box-shadow: $card-shadow;
      text-decoration: none;

      img {
        border-radius: 6px;
        margin-bottom: 1rem;
        height: 70%;
        object-fit: cover;
      }

      h2 {
        font-size: 1.1rem;
        margin-bottom: 0.6rem;
      }

      p {
        color: $primary-grey;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      &:last-child {
        margin-bottom: 6rem;
      }
    }
  }

  &__texture-text {
    position: absolute;
    width: 185%;
    bottom: 5px;
    left: -20px;

    p {
      font-size: 5rem;
      color: $primary-color;
      font-family: $logo-font;
      opacity: 1;
    }
  }
}

@media screen and (min-width: $tablet) {
  .services {
    overflow-x: hidden;
    &__cards {
      width: 60%;
      margin: 0 auto;
      row-gap: 3rem;
      &-item {
        &:last-child {
          margin-bottom: 15rem;
        }
        img {
          margin: 0 auto;
          margin-bottom: .7rem;
        }
      }
    }

    &__texture-text {
      position: absolute;
      width: 185%;
      bottom: -10px;
      left: -30px;
      z-index: -1;

      p {
        font-size: 20vw;
        font-family: $logo-font;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .services {
    position: relative;
    overflow: visible;
    margin-bottom: 5rem;

    &__cards {
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: normal;
      justify-content: space-between;

      row-gap: 2rem;

      &-item {
        width: 30%;
        padding: 2rem;
        padding-bottom: 1rem;
        border-radius: 20px;
        background-color: $of-grey;
        box-shadow: $card-shadow;

        img {
          margin-bottom: .5rem;
          height: 60%;
        }

        h2 {
          color: $text-grey;
          margin-bottom: 0.6rem;
        }

        p {
          color: $primary-grey;
          font-size: 1.2rem;
          line-height: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__texture-text {
      position: absolute;
      width: 100%;
      top: -250px;
      left: 0;
      overflow: hidden;
      p {
        width: 200%;
        font-size: 17vw;
        letter-spacing: 10px;
        font-family: $logo-font;
        opacity: .7;
      }
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .services__texture-text {
    p {
      position: absolute;
      top: -50px;
      left: -60px;
      font-size: 18vw;
    }
  }

  .services__cards {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    margin-top: 15rem;

    &-item {
      width: 30%;
      padding: 2rem;
      padding-bottom: 1rem;
      border-radius: 20px;
      background-color: $of-grey;
      box-shadow: $card-shadow;

      img {
        border-radius: 6px;
        margin-bottom: 1rem;
      }

      h2 {
        color: $text-grey;
        margin-bottom: 0.6rem;
      }

      p {
        color: $primary-grey;
        font-size: 1.2rem;
        line-height: 1.5rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
