@use '../abstracts/variables' as *;
@use '../abstracts/animations' as *;

// Mobile Navigation Icon
#nav__toggle {
  position: absolute;
  left: 2rem;
  cursor: pointer;

  i {
    color: $primary-grey;
    font-size: 1.5rem;
  }
}

// Navigation
.nav {
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  border-bottom: 1px solid $primary-grey;
  background-color: #fff;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  box-shadow: $card-shadow;

  &__logo {
    text-decoration: none;
    color: $primary-black;
    font-family: $logo-font;
    p {
      font-size: 2.3rem;
      font-family: inherit;
      position: relative;
      top: 5px;

      span {
        font-family: inherit;
        width: 100%;
        font-size: 0.8rem;
        position: absolute;
        bottom: -2px;
        left: 130px;
      }
    }
  }

  &__list {
    width: 100%;
    padding: 0;
    display: none;

    flex-direction: column;

    position: absolute;
    top: 64px;
    background-color: $primary-black;
    padding: 2rem 0;

    ul {
      padding: 0;
      text-align: center;
      margin-bottom: 1rem;
    }

    &__link {
      padding: 0.5rem 0;
      list-style: none;

      .link-active {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          background-color: $primary-color;
          height: 1px;
          bottom: 0;
          right: 0;
          width: 100%;
        }
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.8rem;
    }
  }

  &__list.show {
    display: flex;
  }

  &__socials {
    display: flex;
    justify-content: space-around;
    padding: 0;

    ul {
      padding: 0;
    }

    &__link {
      list-style: none;

      a {
        color: $primary-color;
        transition: all 0.6s ease;
      }

      .socials-change-color {
        color: $dark-pink;
        transition: all 0.6s ease;
      }
    }
  }
}

// Mobile Overlay

.overlay {
  // body has to be set to position: relative for this to span across whole site
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  z-index: 9;
  display: none;
}

.show {
  display: flex;
  animation-name: opacity-in;
  animation-duration: 0.3s;
}

// Animation link underline from right to left

.anim-to-left {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: $primary-color;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    visibility: visible;
    width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  // Mobile Navigation Icon
  #nav__toggle {
    display: none;
  }

  .nav {
    box-shadow: $card-shadow;
    &__logo {
      display: flex;
      justify-content: center;
      width: 30%;
    }

    &__list {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: static;
      background-color: transparent;

      ul {
        align-items: center;
      }

      .nav__links {
        display: flex;
        justify-content: space-around;
        width: 40%;

        a {
          color: $primary-grey;
          font-size: 1rem;
          letter-spacing: 1px;
        }
      }

      .nav__socials {
        width: 10%;

        a {
          font-size: 1.3rem;
        }
      }
    }

    &__list.show {
      display: none;
    }

    .socials-change-color {
      color: $of-pink;
    }
  }
}
