@use '../abstracts/variables' as *;

.portfolio__header {
  // TODO: could use mixins as code snippet is exactly same in contact-form.scss
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  justify-content: start;

  h1 {
    font-family: $logo-font;
    letter-spacing: 1rem;
    font-size: 2rem;
    color: $of-pink;
    position: relative;
    margin-bottom: 0.4rem;
    &::after {
      content: '';
      position: absolute;
      left: -10px;
      bottom: 8px;
      height: 2px;
      width: 120%;
      background-color: $of-grey;
    }
  }
}

.portfolio-gallery {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  // FIX FOR FLEXBOX LAST TWO ITEMS GROW TO FILL UP THREE COLUMNS (now last one or two items stay same size as the rest of the images)
  &::after {
    content: '';
    flex-grow: 999;
  }

  .img-group {
    flex-grow: 1;
    height: 300px;
    position: relative;

    &:last-child {
      margin-bottom: 2rem;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      border-radius: 5px;
    }

    .y-offset {
      object-position: 50% 0%;
    }
  }
}

/* Gallery image overlay on hover */
@media screen and (min-width: $tablet) {
  .img-group {
    > a {
      position: relative;
      cursor: pointer;

      /* image overlay on hover */
      &:hover .overlay {
        height: 100%;
        opacity: 1;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 0;
      opacity: 0;
      background: rgba(57, 57, 57, 0.5);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      transition: all 0.3s 0.1s ease-in-out;
      color: #fff;
      border-radius: 5px;
      /* center overlay text */
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
