@use '../abstracts/variables' as *;

.terms__header {
  width: 80%;
  margin: 0 auto;
  margin-top: $page-header-offset;
  display: flex;
  justify-content: start;

  h1 {
    font-family: $logo-font;
    letter-spacing: 1rem;
    font-size: 2rem;
    color: $primary-color;
    position: relative;
    margin-bottom: 0.4rem;
    opacity: 1;

    &::after {
      content: '';
      position: absolute;
      left: -10px;
      bottom: 8px;
      height: 2px;
      width: 120%;
      background-color: $primary-color;
      z-index: -1;
    }
  }
}

.terms-conds {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  border: 1px solid $of-grey;
  border-radius: 15px;
  color: $text-grey;
  font-size: 0.8rem;
  box-shadow: $card-shadow;

  h2 {
    text-align: center;
    color: $primary-grey;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  h3 {
    text-align: center;
    color: $primary-grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
  }

  small {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    color: $primary-grey;
    font-style: italic;
    margin-bottom: 1.5rem;
  }

  ol {
    margin-bottom: 1rem;
    padding-left: 2.2rem;
    line-height: 1.4rem;
  }

  p {
    margin-bottom: 0.55rem;
    line-height: 1.45rem;
  }

  &__section {
    margin-bottom: 1.4rem;
  }

  p.terms-conds__contact {
    margin-bottom: 0.1rem;
    line-height: 1.25rem;
    font-weight: bold;

    span {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: $desktop) {
  .terms__header {
    width: 70%;
  }

  .terms-conds {
    width: 70%;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    font-size: 1rem;

    div {
      width: 90%;
      margin: 0 auto;
    }

    .terms-conds__section {
      margin-bottom: 1.8rem;
    }

    h2 {
      font-size: 1.7rem;
      margin-bottom: 1.4rem;
    }

    h3 {
      letter-spacing: 2px;
      width: 100%;
      margin: 3rem 0 1rem;
    }

    small {
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
    }

    ol {
      margin-bottom: 1rem;
      line-height: 1.8rem;
    }

    p {
      line-height: 1.6rem;
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .terms__header {
    width: 50%;
  }

  .terms-conds {
    width: 50%;
    margin-bottom: 4rem;
    font-size: 1.1rem;
  }
}

/* Utility classes */
.remove-list-style {
  list-style: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pinky {
  color: $dark-pink;
}

.bold {
  font-weight: bold;
}

.social-links-reset {
  line-height: 0.5rem;
}
