@use '../abstracts/variables' as *;

.terms-conds {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 2rem 1rem 2rem 0;
  border: 1px solid $of-grey;
  border-radius: 15px;
  color: $text-grey;
  font-size: 0.8rem;
  box-shadow: $card-shadow;

  h2 {
    text-align: center;
    color: $text-grey;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  h3 {
    text-align: center;
    color: $primary-grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
  }

  small {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    color: $primary-grey;
    font-style: italic;
    margin-bottom: 1.5rem;
  }

  ol {
    margin-bottom: 1rem;
    padding-left: 2.2rem;
    line-height: 1.4rem;
  }
}

@media screen and (min-width: $desktop) {
  .terms-conds {
    width: 70%;
    margin-bottom: 2rem;
    padding: 3rem 1rem;
    font-size: 1rem;

    div {
      width: 90%;
      margin: 0 auto;
    }

    h2 {
      font-size: 1.7rem;
      margin-bottom: 1.4rem;
    }

    h3 {
      letter-spacing: 2px;
      width: 100%;
      margin: 3rem 0 1rem;
    }

    small {
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
    }

    ol {
      margin-bottom: 1rem;
      line-height: 1.8rem;
    }
  }
}

@media screen and (min-width: $desktop-large) {
  .terms-conds {
    width: 50%;
    margin-bottom: 4rem;
    font-size: 1.1rem;
  }
}

/* Utility classes */
.remove-list-style {
  list-style: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pinky {
  color: $primary-color;
}

.bold {
  font-weight: bold;
}

.social-links-reset {
  line-height: 0.5rem;
}
