/**********************
    COLORS
**********************/

// Primary Colors
$primary-black: #2b2b2b;
$primary-grey: #838383;
// Secondary Colors
// Other Colors

/**********************
    FONT PROPERTIES
**********************/

$main-font-sans: 'aileron', Arial, sans-serif;
$logo-font: 'Great Vibes', cursive;
$font-base-size: 1rem; // 16px
$thin: 300;
$regular: 400;
$medium: 500;
$spacing-2: 2px;
$spacing-5: 5px;

/********************
    BREAKPOINTS
**********************/
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
